%html
  %head
    %title Formal Invitation to Libate
    %link{:href => 'http://fonts.googleapis.com/css?family=Meddon|Calligraffitti', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => 'stylesheet.css', :type => 'text/css' }
    %script{:type => 'text/javascript', :src =>'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false'}
    %script{:type => 'text/javascript', :src => '/ampblock.js'}
  %body
    #content
      %h1#formal-invitation.calligraffitti
        %span.blockparty 
          The 
          %span#bigamp &
          %span><
            Block Party!
      %span For gentlemen
      %span &
      %span ladies extraordinaire!
      #invitation.calligraffitti
        The New Orleans Ruby Practicioner's Community and Pleasure Club Cordially Invites You
        To a Fanciful Gathering Associated with the Conference of Ruby:
        %span.blockparty 
          The 
          %span.bigamp &
          %span><
            Block Party!
      #sponsor-header.calligraffitti
        Please accept our gratitude to our delightful sponsors!
        %ul#sponsors
          %li#github.sponsor
            #github-div
              Github
              %br
              %img#github-logo{ :src => '/github-logo.png'}
          %li#engine-yard.sponsor
            Engine Yard
          %li#blue-box.sponsor
            Blue Box Group
      #what
        A more detailed description of the forthcoming festivities:
        #libations
          Libations, Libations, LIBATIONS!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #food
          Scrumptious Consumables!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #music
          Enjoy a quality brass band or two in the New Orleans fashion!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #trombone
          #get get
          #your your
          #face face
          #trom trom
          #boned boned
          #off off
          #bangs !!
      #when
        When?
        #when-answer
          It's at Rubyconf, bra--err, fine sir! It starts after the conference ends on Thursday!
      #where
        Where?
        #where-answer
          It's a straight line from the conference hotel! You can't miss it!
        #get-there-map
      #other-opinions
        What other opinions mind I find on the subject of this celebrashun?
        #other-opinions-answer
          Ask those tweetie things!
          #twitter-block
            %script{ :src => "http://widgets.twimg.com/j/2/widget.js"}
            :javascript
              new TWTR.Widget({
                version: 2,
                type: 'search',
                search: 'rubyconf',
                interval: 30000,
                title: 'Goings-on about the town',
                subject: 'Whoos...Wh..what?',
                width: 800,
                height: 100,
                theme: {
                  shell: {
                    background: '#8ec1da',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#444444',
                    links: '#1985b5'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: true,
                  live: true,
                  hashtags: true,
                  timestamp: true,
                  avatars: true,
                  toptweets: true,
                  behavior: 'default'
                }
              }).render().start();
      #woo
        Wooooo!
        #woo-answer
          Yeah, wooo!
      #how-long
        How long does it last?
        #how-long-answer
          Until they cops kick us out!
      #lost
        How do I get home?
        #lost-answer
          Man...uhh...I think its this way...
        #get-back-map
      #awesome
        %a{:href => '/awesome'} That was awesome.
        Hope you had fun, sir. 
