%html
  %head
    %title Formal Invitation to Libate
    %link{:href => 'http://fonts.googleapis.com/css?family=Meddon|Calligraffitti', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => 'stylesheet.css', :type => 'text/css' }
    %script{:type => 'text/javascript', :src =>'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false'}
    %script{:type => 'text/javascript', :src => '/ampblock.js'}
  %body
    #content
      #banner
        #name
          #logo
            #libationists Computational Libationists
            #coat-of-arms
              %img{:src => '/images/coat_of_arms.png'}
            #society The Southern Societé of
        #break
        #presents
          #left-wrap
            %img{:src => '/images/left_wrap.png'}
          #right-wrap
            %img{:src => '/images/right_wrap.png'}
          #verily
            %img{:src => '/images/verily_present.png'}
      #block-party
        %img{:src => '/images/block_party.png'}
      #invitation
        #dapper-left
          %img{:src => '/images/dapper_man_left.png'}
        #dapper-right
          %img{:src => '/images/dapper_man_right.png'}
        %span
          The pleasure of your company is requested for a refined and elegant
          evening of merriment,
        %br
        %span
          -#rabblerousing, and elegant entertainment. Also some other fancy words would go
          rabblerousing, and elegant entertainment. The festivities will occur on the
        %br
        %span
          first night of the delightful congress of Rubyists in New Orleans!
          -#here but I'm not sure exactly which words would be best at the moment.
      #images
        #music
          %img{:src => '/images/concert.jpg'}
          %br
          Two Live Concerts (with Disc Jockey)
        #food
          %img{:src => '/images/dining.jpg'}
          %br
          A Refined Dinner for the Refined Palette
        #libations
          %img{:src => '/images/libations.jpg'}
          %br
          Libations, Libations, Libations!
      %h3.question When?
      #when-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Beverage
        Society are proud to present the &Block Party to attendees of the
        esteemed RubyConf in fine New Orleans!  Our soirée will take place on
        %strong the first Thursday of Rubyconf!
        That's
        %strong September 29th!
        The party begins
        %strong around 6:30!
      %h3.question Where?
      #where-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Bevreage Society
        have reserved a delightful grotto for your post-conference enjoyment.
        It's like, a straight shot from the conference, and in the heart of
        New Orleans' own entrpreneurial community! You can find it pretty
        easily with the map below.
        #get-there-map
      %h3.question What are other fine gentlemen and ladies saying?
      #other-opinions-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Beverage Society
        would never speak for our delightful guests! Why don't you ask them,
        using this godforsaken Twitter thing that is just completely destroying
        what it means to have a traditional discuorse?
        #twitter-block
          %script{ :src => "http://widgets.twimg.com/j/2/widget.js"}
          :javascript
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: 'ampblock',
              interval: 30000,
              title: 'Goings-on about the town',
              subject: 'Whoos...Wh..what?',
              width: 800,
              height: 100,
              theme: {
                shell: {
                  background: '#8ec1da',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#444444',
                  links: '#1985b5'
                }
              },
              features: {
                scrollbar: false,
                loop: true,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: true,
                toptweets: true,
                behavior: 'default'
              }
            }).render().start();
      %h3.question How long does it last?
      #how-long-answer.answer
        The Southrn Louisana Analitic Engine & Pleasured Beverage Society is proud to announce that we've got like, two freaking bands and freakin' DJ Black Socks, so like, a long time. Shoutouts to band 1 and band 2!
      %h3.question Woooo!
      #woo-answer.answer
        The south louisiana whatever is fucking psyched to say: yeah, wooo! I love you guys!
      %h3.question How Do I get home?
      #lost-answer.answer
        pretty sure like this! follow me!
        #get-back-map
