%html
  %head
    %title Formal Invitation to Libate
    %link{:href => 'http://fonts.googleapis.com/css?family=Meddon|Calligraffitti', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => 'stylesheet.css', :type => 'text/css' }
    %script{:type => 'text/javascript', :src =>'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false'}
    %script{:type => 'text/javascript', :src => '/ampblock.js'}
  %body
    #content
      %h1#formal-invitation.calligraffitti
        %span.blockparty
          The
          %span#bigamp &
          %span><
            Block Party!
      %span For gentlemen
      %span &
      %span ladies extraordinaire!
      #invitation.calligraffitti
        The New Orleans Ruby Practicioner's Community and Pleasure Club Cordially Invites You
        To a Fanciful Gathering Associated with the Conference of Ruby:
        %span.blockparty
          The
          %span.bigamp &
          %span><
            Block Party!
      #sponsor-header.calligraffitti
        Please accept our gratitude to our delightful sponsors!
        %ul#sponsors
          %li#github.sponsor
            #github-div
              Github
              %br
              %img#github-logo{ :src => '/github-logo.png'}
          %li#engine-yard.sponsor
            Engine Yard
          %li#blue-box.sponsor
            Blue Box Group
      #what
        A more detailed description of the forthcoming festivities:
        #libations
          Libations, Libations, LIBATIONS!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #food
          Scrumptious Consumables!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #music
          Enjoy a quality brass band or two in the New Orleans fashion!
          %br
          %img{:src => 'http://placekitten.com/400/200'}
        #trombone
          #get get
          #your your
          #face face
          #trom trom
          #boned boned
          #off off
          #bangs !!
      %h3.question When?
      #when-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Beverage
        Society are proud to present the &Block Party to attendees of the
        esteemed RubyConf in fine New Orleans!  Our soirée will take place on
        %strong the first Thursday of Rubyconf!
        That's
        %strong September 29th!
        The party begins
        %strong around 6:30!
      %h3.question Where?
      #where-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Bevreage Society
        have reserved a delightful grotto for your post-conference enjoyment.
        It's like, a straight shot from the conference, and in the heart of
        New Orleans' own entrpreneurial community! You can find it pretty
        easily with the map below.
        #get-there-map
      %h3.question What are other fine gentlemen and ladies saying?
      #other-opinions-answer.answer
        The Southern Louisiana Analytical Engine & Pleasurable Beverage Society
        would never speak for our delightful guests! Why don't you ask them,
        using this godforsaken Twitter thing that is just completely destroying
        what it means to have a traditional discuorse?
        #twitter-block
          %script{ :src => "http://widgets.twimg.com/j/2/widget.js"}
          :javascript
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: 'ampblock',
              interval: 30000,
              title: 'Goings-on about the town',
              subject: 'Whoos...Wh..what?',
              width: 800,
              height: 100,
              theme: {
                shell: {
                  background: '#8ec1da',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#444444',
                  links: '#1985b5'
                }
              },
              features: {
                scrollbar: false,
                loop: true,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: true,
                toptweets: true,
                behavior: 'default'
              }
            }).render().start();
      %h3.question How long does it last?
      #how-long-answer.answer
        The Southrn Louisana Analitic Engine & Pleasured Beverage Society is proud to announce that we've got like, two freaking bands and freakin' DJ Black Socks, so like, a long time. Shoutouts to band 1 and band 2!
      %h3.question Woooo!
      #woo-answer.answer
        The south louisiana whatever is fucking psyched to say: yeah, wooo! I love you guys!
      %h3.question How Do I get home?
      #lost-answer.answer
        pretty sure like this! follow me!
        #get-back-map
