body {
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;

  /* IE10 */
  #background-image: -ms-linear-gradient(top, #FFFFFF 0%, #7A6B5C 100%);
  /* Mozilla Firefox */
  #background-image: -moz-linear-gradient(top, #FFFFFF 0%, #7A6B5C 100%);
  /* Opera */
  #background-image: -o-linear-gradient(top, #FFFFFF 0%, #7A6B5C 100%);
  /* Webkit (Safari/Chrome 10) */
  #background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #7A6B5C));
  /* Webkit (Chrome 11+) */
  #background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #7A6B5C 100%);

  #break {
    width: 100%;
    height: 81px;
    top: 0px;
    position: absolute;
    z-index: -1;
    box-shadow: 0px 1px 4px 2px #eee;
  }

  #banner {
    margin: 0 auto;
    text-align: center;
    position:relative;
    #height: px;
    #name {
      height: 80px;
      font-size: 20px;
      #logo {
        margin: 0 auto;
        font-family: 'Meddon', cursive;
        #society, #coat-of-arms, #libationists {
          position:absolute;
        }
        #society {
          left:250;
          top: 25px;
        }
        #libationists {
          left: 595px;
          top: 25px;
        }
        #coat-of-arms {
          left: 464px;
          top: 0px;
        }
      }
    }
    #presents {
      margin: 0 auto;
      width: 80%;
      position: relative;
      height: 145px;
      top:4px;
      #verily {
        margin-left: 315;
        text-align: center;
        position: absolute;
        top: 85px;
      }
      #right-wrap, #left-wrap {
        position: absolute;
        top: 0px;
      }
      #right-wrap {
        right: 0px;
      }
      #left-wrap {
        left: 0px;
      }
    }
  }

  #block-party {
    margin: 0 auto;
    clear: both;
    text-align: center;
  }

  #invitation {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
    font-size:18px;
    text-align: center;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    line-height: 33px;
    #dapper-left {
      float: left;
      padding-right: 40px;
    }
    #dapper-right {
      float: right;
      padding-left: 40px;
    }
  }

  #images {
    height: 260px;
    clear: both;
    margin-top: 60px;
    text-align: center;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    #food, #music, #libations {
      width: 321px;
      display: inline-block;
      display: -moz-inline-stack;
      img {
        border: solid #e1e0e0 10px;
      }
    }
  }
  #twitter-block {
    width: 800px;
  }

  #content {
    width: 1024px;
    margin: 0 auto;

    h3.question {
      font-family: 'IM Fell French Canon', serif;
      font-style: italic;
      font-size: 40px;
      margin-bottom: 15px;
    }

    .answer {
      margin-left: 40px;
      width:700px;
      font-family: 'IM Fell French Canon', serif;
      font-size: 18px;
      line-height: 33px;
      text-align: justify;
      #get-there-map {
        height: 275px;
      }
      #get-back-map {
        height: 350px;
      }
    }
  }

  #lost-answer {
    font-family: 'Comic Sans MS';
  }
}
